@font-face {
    font-family: "Gulfs Display";
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff2') format('woff2');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.woff') format('woff');
    src: url('../fonts/gulfs/GulfsDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html:focus-within {
    scroll-behavior: smooth;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:inherit;
    font: inherit;
}

.oculto {
    display: none;
}

.gulfs {
    font-family: "Gulfs Display";
}

.decoracion {
    position: absolute;
}

.caja-imagen {
    position: relative;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    display: flex;
    border: 2px solid black;
}

/* 
-----------------------------------------------------------------------------
ANIMACIONES GENERALES
-----------------------------------------------------------------------------
*/

.boton:hover {
    filter: brightness(0.87);
    cursor: pointer;
}

.hyper:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
} 

.boton:active {
    animation: pressButton 0.2s ease;
}

.estrella {
    animation: twinkle-and-move 2.5s infinite ease-in-out 0.4s;
}

@keyframes pressButton {
    0% { transform: scale(1); }
    50% { transform: scale(0.88); }
    100% { transform: scale(1); }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes twinkle {
    0%, 100% {
      opacity: 0.2;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
}

@keyframes twinkle-and-move {
    0%, 100% {
      opacity: 0.2;
      transform: scale(0.8) translate(0, 0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2) translate(2px, -2px);
    }
}

@keyframes tilt {
    0%, 100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

/* 
-----------------------------------------------------------------------------
BOTÓN DE CHAT 
-----------------------------------------------------------------------------
*/

.boton-chat {
    position: fixed;
    bottom: 2%; /* Positions the button 2% from the bottom */
    right: 1%;  /* Positions the button 2% from the right */
    width: clamp(80px, 10vw, 82px); /* Slightly reduced middle value for responsiveness */
    height: clamp(80px, 10vw, 82px);
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FFF35F;
    display: flex;           /* Centers any content inside the button */
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8); /* Optional: adds a shadow for depth */
}

.boton-chat p {
    font-weight: 900;
    font-family: sans-serif;
    font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size */
    margin: 0;
}

/* 
-----------------------------------------------------------------------------
SECCIONES DE LA PAGINA
-----------------------------------------------------------------------------
*/

.contenedor-grid {
    display: grid;
    grid-template-rows: repeat(5, minmax(300px, auto));
}

.seccion-inicial {
    background-color: #F1B4D6;
    border-bottom: 2px solid black;
    height: 60vw;
}

#seccion-nosotros {
    background-color: #FFF35F;
    height: 85vw;
}

#seccion-galeria {
    background-color: #FF6541;
}

#seccion-precios {
    background-color: aliceblue;
}

#seccion-contacto {
    background-color: #F1B4D6;
}

/* 
-----------------------------------------------------------------------------
MENU DE NAVEGACIÓN
-----------------------------------------------------------------------------
*/

.menu-navegacion {
    position: absolute;
    right: 0%;
    top: 2%;
    display: flex;
    height: 4vh;
    width: 50vw;
    justify-content: end;
}

#icono-equis-menu {
    width: 80%;
    padding: 10%;
}

.item {
    display: inline-block;
    margin-right: clamp(10px, 8.5vw, 55px);
    font-size: clamp(1rem, 6vw, 1.1rem);
}

.item1 {
    background-image: url('../img/heart.svg');
    background-size: 16px 16px; /* Adjust size as needed */
    background-repeat: no-repeat;
    background-position: 0 20%; /* Align image to the left and vertically centered */
    padding-left: 24px; /* Space to the left to accommodate the image */
}

.item2 {
    background-image: url('../img/estrella.svg');
    background-size: 16px 16px; /* Adjust size as needed */
    background-repeat: no-repeat;
    background-position: 0 20%; /* Align image to the left and vertically centered */
    padding-left: 24px; /* Space to the left to accommodate the image */
}

.item3 {
    background-image: url('../img/figura.svg');
    background-size: 16px 16px; /* Adjust size as needed */
    background-repeat: no-repeat;
    background-position: 0 20%; /* Align image to the left and vertically centered */
    padding-left: 24px; /* Space to the left to accommodate the image */
}

.item4 {
    background-image: url('../img/polvora.svg');
    background-size: 16px 16px; /* Adjust size as needed */
    background-repeat: no-repeat;
    background-position: 0 20%; /* Align image to the left and vertically centered */
    padding-left: 24px; /* Space to the left to accommodate the image */
}

.item:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* 
-----------------------------------------------------------------------------
IMAGENES TEXTO SECCION INICIAL
-----------------------------------------------------------------------------
*/

.seccion-inicial h1{
    color: #1357EB;
    font-size: clamp(1.8rem, 6vw, 5rem);

}

.seccion-inicial .titulo-principal {
    position: relative;
    margin: auto;
    max-width: fit-content;
    top: 9vw;
    z-index: 1;
}

.gulfs.titulo-principal span {
    display: block;
    text-align: center;
    height: 4.8vw;
}

.seccion-inicial .caja-imagen-central {
    top: 8vw;
    border-radius: 40vw;
    margin: auto;
}

#imagen-principal {
    width: 40vw;
    height: 55vw;
}

.circulo-sonriente {
    right: 14%;
    width: 12vw;
    top: 54vw;
    animation: spin 7s linear infinite;
}

.rayo {
    right: 16%;
    top: 27vw;
    width: clamp(65px, 12vw, 200px);
    animation: tilt 2s ease-in-out infinite;
    z-index: 1;
}

.estrella1 {
    right: 25%;
    top: 35vw;
    width: clamp(10px, 3vw, 80px);    
}

.estrella2 {
    left: 20%;
    top: 16vw;
    width: clamp(10px, 3vw, 80px);    
}

.estrella3 {
    left: 24%;
    top: 28vw;
    width: clamp(18px, 6vw, 100px);    
}

.figura-celeste {
    left: 25%;
    top: 55vw;
    width: clamp(65px, 10vw, 130px); 
    animation: spin 10s linear infinite;
}

.caja-imagen-izquierda {
    position: absolute;
    top: 32vw;
    left: -6%;
    border-radius: 10%;
}

#imagen-inicial-izquierda {
    width: 28vw;
    height: 38vw;    
}

#imagen-inicial-derecha {
    width: 17vw;
    height: 22vw; 
}

.caja-imagen-derecha {
    position: absolute;
    top: 13vw;
    right: 3%;
    border-radius: 10%;
}

#checkbox-menu,
#icono-rayas-menu,
#icono-equis-menu {
    display: none;
}

/* 
--------------------------------------------------------------------------
SECCIÓN NOSOTROS
--------------------------------------------------------------------------
*/

.boton1 {
    top: clamp(80vw ,1vw, 20vw);
    left: clamp(2.5vw ,1vw, 2.5vw);
    animation: pressButton  2s ease-in-out infinite;
}

.boton2 {
    top: clamp(80vw ,1vw, 20vw);
    right: clamp(2.5vw ,1vw, 2.5vw);
    animation: pressButton  2s ease-in-out infinite;
}

.boton3 {
    top: clamp(135vw ,1vw, 20vw);
    left: clamp(2.5vw ,1vw, 2.5vw); 
    animation: pressButton  2s ease-in-out infinite;  
}

.boton4 {
    top: clamp(135vw ,1vw, 20vw);
    right: clamp(2.5vw ,1vw, 2.5vw);    
    animation: pressButton  2s ease-in-out infinite;

}

.mensaje-botones {
    position: absolute;
    color: black;
    z-index: 5;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: -0.05rem;
    font-size: clamp(1rem, 1.2rem, 2rem);
}

.mensaje-izquierdo {
    top: clamp(81vw ,1vw, 80vw);
    left: clamp(75px , 7vw, 8vw);
}

.mensaje-derecho {
    top: clamp(81vw ,1vw, 81vw);
    right: clamp(75px ,7vw, 8vw);
}

#pareja-confeti {
    height: 40vw;
    width:29vw;
    border: 2px solid black;
}

.marco {
    position: absolute;
    transform: rotate(-4deg);
    height: 41.5vw;
    --original-width: 29vw;
    width:29vw;
    box-shadow: 6px 4px 9px rgba(0, 0, 0, 0.9); /* Optional: adds a shadow for depth */
}

.marco-interior {
    --original-top: 86vw;
    top: 86vw;
    left: clamp(13vw ,1vw, 10vw);
    border-color: whitesmoke;
    border-width: 0.8vw;
    outline: 2px solid black;
    z-index: 11;
}

.marco-medio {
    --original-top: 87vw;
    --original-height: 42vw;
    top: 87vw;    
    background-color: #ffffff;
    left: clamp(12vw ,1vw, 10vw);
    z-index: 10;
    height: 42vw;
    width: 29vw;
    border: 2vw solid black;
    border-color: #F1B4D6;
    outline: 2px solid black;

}

.marco-exterior {
    background-color: #ffffff;
    --original-top: 89vw;
    --original-height: 41.5vw;
    top: 89vw;
    left: clamp(11vw ,1vw, 9vw);
    z-index: 10;
    height: 41.5vw;
    width: 29vw;
    border: 2vw solid black;
    border-color: #F1B4D6;
    outline: 2px solid black;
}

#seccion-nosotros .titulo-principal {
    --original-top: 86vw;
    --original-right: 22.5vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
    top: 86vw;
    right: 22.5vw;
    font-size: clamp(5.5vw, 11vw, 12rem);
    color: transparent;
    -webkit-text-stroke: 3px #1357EB;
    margin: auto;
}

#seccion-nosotros .gulfs.titulo-principal span {
    display: block;
    text-align: center;
    height: fit-content;
    height: 8.5vw;
}

#seccion-nosotros .descripcion {
    --original-top: 104vw;
    --original-right: 9vw;
    position: absolute;
    font-family: sans-serif;
    font-weight: 600;
    top: 104vw;
    right: 9vw;
    width: 50vw;
    height: 25vw;
    padding: 5%;
    line-height: 1.6vw;
    font-size: clamp(1.4vw, 1.4vw, 2rem);
}

#seccion-nosotros .mensaje-inferior {
    --original-top: 125vw;
    --original-right: 3vw;
    position: absolute;
    font-family: "Gulfs Display";
    font-weight: 400;
    top: 125vw;
    right: 3vw;
    width: 51vw;
    font-size: clamp(2.1vw, 2.1vw, 2.5rem);

}

.anillos {
    --original-top: 122.5vw;
    --original-right: 21%;
    right: 21%;
    top: 122.5vw;
    width: clamp(65px, 10vw, 130px); 
    animation: tilt 2s ease-in-out infinite;
}

.polvora-roja {
    --original-top: 121vw;
    --original-right: 13%;
    right: 13%;
    top: 121vw;
    width: clamp(65px, 10vw, 130px); 
    animation: tilt 2s ease-in-out infinite;
}

.ovalo-blanco {
    --original-top: 88vw;
    --original-right: 27vw;
    width: 30vw;
    height: 9.5vw;
    right: 27vw;
    top: 88vw;
    transform: rotate(-12deg);
}

/* 
--------------------------------------------------------------------------
SECCIÓN GALERIA
--------------------------------------------------------------------------
*/

#seccion-galeria {
    border-top: 2px solid black;
    height: 76vw;
    border-bottom: 2px solid black;
    overflow: hidden;
} 

.area-blanca {
    position: absolute;
    height: 52vw;
    width: 100%;
    background-color: #ffe9f5;
}

.caja-grid {
    display: grid;
    position: absolute;
    margin-top: 4%;
    width: 100%;
    height: 61.5vw;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 3.5%;
}

#seccion-galeria .caja-imagen {
    border-radius: 18%;
    display: inline-block;
    position: relative;
}

.imagen-galeria {
    height: 30vw; 
    width: 20vw;  
}

.caja-imagen.foto-uno {
    position: relative;
    grid-area: 1 / 1 / 1 / 5;
    left: -3.7vw;
}

.caja-imagen.foto-dos {
    grid-area: 1 / 5 / 1 / 10;
    left: -3vw;

}

.caja-imagen.foto-tres {
    grid-area: 1 / 10 / 1 / 17;
    left: -5vw
}

.imagen-galeria.imagen3 {
    width: 100%;
}

.caja-imagen.foto-cuatro {
    grid-area: 1 / 17 / 1 / 23;
    left: -5vw;
}

.caja-imagen.foto-cinco {
    position: absolute;
    grid-area: 1 / 16 / 1 / 23;
    width: 18vw;
    height: 30vw;
    border-radius: 10%;
    transform: translateX(96vw);
    top: 4vw;
}

.caja-imagen.foto-seis {
    grid-area: 2 / 1 / 3 / 8;
    width: 40vw;
    left: -5vw;
    margin-top: 1.5vw;
}

.imagen-galeria.imagen6 {
    position: relative;
    width: 100%;
}


.caja-imagen.foto-siete {
    grid-area: 2 / 9 / 3 / 14;
    margin-top: 1.5vw;
    left: -2.5vw;
}

.caja-imagen.foto-ocho {
    grid-area: 2 / 14 / 3 / 20;
    margin-top: 1.5vw;
    width: 30vw;
    left: -4vw;
}

.imagen-galeria.imagen8 {
    width: 30vw;
}

.caja-imagen.foto-nueve {
    position: absolute;
    width: 18vw;
    height: 30vw;
    border-radius: 10%;
    top: 37.6vw;
    left: 72vw;
}

/* 
--------------------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------------------
*/

@media (max-width: 767px) {

    #icono-rayas-menu,
    #icono-equis-menu {
        display: block;
    }

    .caja-imagen-derecha,
    .caja-imagen-izquierda,
    .figura-celeste {
        display: none;
    }

    .boton-navegacion {
        position: absolute;
        right: 2%;
        top: 2%;
        border: 2px solid black;
        border-radius: 50%;
        border-right: 4.5px solid black;
        border-bottom: 4.5px solid black;
        background-color: #F1B4D6;
        height: clamp(40px, 100vw, 55px);
        width: clamp(40px, 100vw, 55px);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow for depth */
    }

    .boton-navegacion #icono-rayas-menu {
        height: 62%;
    }
    
    .boton-navegacion #icono-equis-menu {
        height: 80%;
    }
    
    #icono-equis-menu {
        display: none;
    }

    #checkbox-menu:checked ~ .boton-navegacion #icono-rayas-menu {
        display: none;
    }
    
    #checkbox-menu:checked ~ .boton-navegacion #icono-equis-menu {
        display: inline;
    }
    
    #checkbox-menu:checked ~ .boton-navegacion {
        filter: brightness(0.87);
    }  

    #checkbox-menu:not(:checked) ~ .menu-navegacion {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease; 
    }
    
    #checkbox-menu:checked ~ .menu-navegacion {
        pointer-events: auto;   
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .menu-navegacion {
        position: absolute;
        right: clamp(5%, 1vw, 5%);
        top: clamp(70px, 14vw, 80px);
        display: grid;
        height: 4vh;
        width: clamp(50px, 1vw, 80vw);
    }

    .item {
        font-size: clamp(0.2rem, 4vw, 2rem);

    }

    .seccion-inicial {
        height: 105vw;
    }

    .seccion-inicial .titulo-principal {
        top: clamp(44vw, 38vw, 40vw);
    }
    
    .gulfs.titulo-principal span {
        display: block;
        text-align: center;
        height: clamp(8.5vw, 1vw, 10vw);
        font-size: clamp(11vw, 1vw, 15vw);
    }
    
    .seccion-inicial .caja-imagen-central {
        top: clamp(43vw, 37vw, 50vw);
        border-radius: 30%;
        margin: auto;
    }
    
    #imagen-principal {
        width: 65vw;
        height: 85vw;
    }
    
    .circulo-sonriente {
        left: clamp(50px, 12vw, 100px);
        width: clamp(80px, 25vw, 170px);
        top: clamp(140vw, 1vw, 150vw);
    }
    
    .rayo {
        right: clamp(3vw, 1vw, 4vw);
        top: clamp(75vw, 1vw, 80vw);
        width: clamp(12vw, 10vw, 15vw);
    }
    
    .estrella1 {
        right: clamp(5.5vw, 1vw, 6vw);
        top: clamp(86vw, 1vw, 90vw);
        width: clamp(20px, 3vw, 40px);    
    }
    
    .estrella2 {
        left: clamp(5.5vw, 1vw, 6vw);
        top: clamp(54vw, 1vw, 59vw);
        width: clamp(15px, 1vw, 25px);   
    }
    
    .estrella3 {
        left: clamp(3vw, 1vw, 6vw);
        top: clamp(76vw, 1vw, 89vw);
        width: clamp(30px, 6vw, 40px);    
    }
    
    .figura-celeste {
        left: 25%;
        top: 40.5vw;
        width: clamp(65px, 10vw, 130px); 
        animation: spin 10s linear infinite;
    }

    .boton-chat {
        right: 2vw;
    }

    .boton3,
    .boton4,
    .mensaje-izquierdo,
    .mensaje-derecho {
        display: none;
    }

    .boton1,
    .boton2 {
        top: 170vw;
    }

    .ovalo-blanco,
    #seccion-nosotros .titulo-principal,
    #seccion-nosotros .descripcion,
    #seccion-nosotros .mensaje-inferior,
    .anillos,
    .polvora-roja {
        top: calc(var(--original-top) + 94vw);
    }

    #seccion-nosotros .titulo-principal {
        left: 1vw;
    }
    
    #seccion-nosotros .gulfs.titulo-principal span {
        font-size: clamp(22vw, 11vw, 12rem);
        margin-bottom: 9vw;
    }
    
    #seccion-nosotros .descripcion {
        top: 219vw;
        left: 1vw;
        width: 84vw;
        height: 40vw;
        line-height: 4.5vw;
        font-size: clamp(3vw, 1.4vw, 2rem);
    }
    
    #seccion-nosotros .mensaje-inferior {
        font-weight: 400;
        top: 275vw;
        left: 6vw;
        width: 51vw;
        font-size: clamp(3vw, 2.1vw, 2.5rem);
    
    }
    
    .anillos {
        left: 40vw;
        top: 267vw;
        width: 18vw; 
    }
    
    .polvora-roja {
        left: 58vw;
        top: 266vw;
        width: 15vw; 
    }
    
    .ovalo-blanco {
        width: 52vw;
        height: 25vw;
        left: 7vw;
        transform: rotate(-12deg);
    }
    
    .marco-interior,
    .marco-medio,
    .marco-exterior {
        top: calc(var(--original-top) + 202vw);
        left: 12vw;
        width: 80vw;
        height: 91.5vw;
    }

    .marco-medio {
        left:10vw;
        top: calc(var(--original-top) + 203vw)
    }

    .marco-exterior {
        left:8vw;
        top: calc(var(--original-top) + 203.5vw)
    }

    #pareja-confeti {
        width: 80vw;
        height: 90vw;
    }

    #seccion-nosotros {
        height: 285vw;
    }

    .boton-chat {
        z-index: 100;
    }
}

